*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    flex-flow: wrap;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 30%;
    

}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
    padding-top: 5%;
}
nav ol li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a{
    color: rgb(3, 19, 32);
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    color: blue;
    transition: .3s;

}
nav ol li a:hover{
    color: blue;
    transition: .3s;
}
nav ol li a{
    color: rgb(3, 19, 32);
    text-decoration: none;
    font-weight: bold;
}
.paragraphe{
    width:50%;
    padding: 4vh 6vw;
}
.paragraphe p{
    padding-top: 15px;
}
section{
    display: flex;
    margin: 0vh 5vw;
    padding-top: 1%;

}
section div{
    border: 1px black solid;
    margin: 0px 15px;
    padding: 10px;
}
.img{
    width: 60%;
}
.navbar_logo{
    width: 15%;
}
.product{
    padding: 40px;
    background-color: #8cbfea;
    
}
div h4{
    padding-top: 23px;
    padding-bottom: 23px;
}